html {
    scroll-behavior: smooth;
}
html, body {
  cursor: url("normal.cur"), default;
}
#div1{
    float: right;
}
#div2{
    float: right;
}
h1,h2,h3 {
    color: aqua;
}
input[type=button] {
    font-size: 32px;
    background: rgb(214, 187, 187);
    color: aqua;
    font-weight:500;
    padding: 20px;
    margin: 30px;
    border: none;
    border-radius: 50px;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
    10px -10px 10px -1px rgba(255, 255, 255, 0.70);
    box-shadow: inset 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
    inset -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
}

#btn {
    font-size: 32px;
    color: black;
    background-color: aquamarine;
    border-radius: 50px;
    height: 70px;
    width: 300px;
    font-weight: 500;
    border: 0px;
}
#btn:hover {
    color: red;
    border: 5px;
    border-color: blue;
    
}
body {
    background-image: url('enlarge_bajrang-dal.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100% ;
    margin: auto;
}
ul {
    list-style-type: none;
}
#menu {
    color: blue;
    width: 100%;
    font-size: large;
    border: none;
    text-align: center;
    position: fixed;
}
#menu ul {
    display: inline-flex;
}
#menu ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}
#home:hover {
    background-color: aqua;
    width: 100px;
    text-align: center;
}
#about:hover {
    background-color: aqua;
    width: 100px;
    text-align: center;
}
#home {
    background-color:cornflowerblue;
    width: 50px;
    text-align: center;
    border-radius: 10px;
}
#about {
    background-color:cornflowerblue;
    width: 50px;
    text-align: center;
    border-radius: 10px;
}
.horizontal-bar {
    background-color: #333;
    overflow: hidden;
}

.bar-item {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.bar-item:hover {
    background-color: #555;
}

.bar-item.active {
    background-color: #4CAF50;
}

@media screen and (max-width: 600px) {
    .bar-item {
        float: none;
        width: 100%;
        text-align: center;
    }
}
#pre {
    background: #191919 url("preloader.gif") no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
#diwali {
    text-align: center;
}
#online {
    font-family: 'Lora', serif;
    font-size: 100px;
    text-align: center;
    border-color: green;
    background-color: green;
    width: 800px;
    margin-left: 200px;
}
#margin{
    margin-left: 40px;
    margin-right: 10px;
}
#clock {
    font-family: 'Arial', sans-serif;
    display: flex;
    font-size: 2em;
    color: #cc1f7e;

    background-color: black;
    position: fixed;
    margin-left: 87%;
}
