#div1{
    float: right;
}
#div2{
    float: right;
}
input[type=button] {
    font-size: 32px;
    background: rgb(214, 187, 187);
    color: aqua;
    font-weight:500;
    padding: 20px;
    margin: 30px;
    border: none;
    border-radius: 50px;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
    10px -10px 10px -1px rgba(255, 255, 255, 0.70);
    box-shadow: inset 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
    inset -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
}
#log {
    float: right;
    color: rgb(10, 137, 241);
    background-color: black;
    height: 40px;
    width: 80px;
    font-size: large;
    font-weight: 800;
    border-radius: 50px;
    border: none;
    padding: 5px;
    margin: 30px;

}
#log:hover {
    background-color: green;
    transform: translateX(10px);
    transform: translateY(10px);
}
#btn {
    font-size: 32px;
    color: black;
    background-color: aquamarine;
    border-radius: 50px;
    height: 70px;
    width: 300px;
    font-weight: 500;
    border: 0px;
}
#btn:hover {
    color: red;
    border: 5px;
    border-color: blue;
    
}
body {
    background-image: url('enlarge_bajrang-dal.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100% ;
}

