/* Importing Google font - Poppins  👇🏻👇🏻👇🏻 */
@import url("https://fonts.googleapis.com/css?family=Sacramento");
body {
  background-color: #212121;
  font-family: "Sacramento", cursive;
}

.container {
	
  height: 200px;
  width: 600px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 30%;
}
.container .title {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-shadow: 0px 2px 1px orange, 0px 0px 6px orangered, 0px 5px 10px black;
}

.fireworks {
  list-style-type: none;
  padding: 0;
  background-color: #212121;
}
.fireworks li {
  display: inline-block;
  margin: 20px;
  height: 50px;
  width: 50px;
  border-radius: 500px;
  position: relative;
  background-color: #8D6E63;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.fireworks li::before {
  content: "";
  position: absolute;
  height: 100%;
  background-color: #212121;
  width: 100%;
  border-radius: 500px;
  top: -40%;
  left: -30%;
}
.fireworks li::after {
  content: "";
  position: absolute;
  height: 100%;
  background-color: #212121;
  width: 100%;
  border-radius: 500px;
  top: -40%;
  right: -30%;
}
.fireworks li span {
  display: inline-block;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  transform: rotate(45deg);
  animation: fire 0.3s ease infinite;
}
.fireworks li:nth-child(1) span {
  animation-delay: 0.5s;
}
.fireworks li:nth-child(2) span {
  animation-delay: 1s;
}
.fireworks li:nth-child(3) span {
  animation-delay: 1.5s;
}
.fireworks li:nth-child(4) span {
  animation-delay: 2s;
}
.fireworks li:nth-child(5) span {
  animation-delay: 2.5s;
}
.fireworks li:nth-child(6) span {
  animation-delay: 3s;
}

@keyframes fire {
  0%, 100% {
    transform: rotate(55deg);
    width: 20px;
    background: linear-gradient(90deg, orange, orangered);
  }
  50% {
    transform: rotate(35deg);
    width: 18px;
    background: linear-gradient(90deg, orangered, orange);
  }
}
#diwali {
	width: 100%;
	height: 100vh;
}
