body{
    margin-left: 15px;
    background-color: cornsilk;
}
.horizontal-bar {
    background-color: #333;
    overflow: hidden;
}

.bar-item {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.bar-item:hover {
    background-color: #555;
}

.bar-item.active {
    background-color: #4CAF50;
}
#head {
    font-size: 55px;
    background-color: rgb(63, 62, 62);
    color: white;
    height: 70px;
}
#btn {
    font-size: 32px;
    color: black;
    background-color: aquamarine;
    border-radius: 50px;
    height: 70px;
    width: 300px;
    font-weight: 500;
    border: 0px;
}
#btn:hover {
    color: red;
    border: 5px;
    border-color: blue;
}
video {
    text-align: center;
}